.play-video{
    flex-basis: 69%;
}
.play-video video{
    width: 100%;
}
.play-video h3{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}
.play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video-info img{
    width: 20px;
    margin-right: 8px;
}
.play-video-info span{
    /* jitni space hai utni hi legi or bakki ka text iske aage se start hoga */
    display: inline-flex; 
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher div{
    /* div ke alawa jo bhi tha wo corner me chala gya */
    flex: 1;
    line-height: 18px;
}
.publisher img{
    border-radius: 50%;
    width: 40px;
    margin-right: 15px;
}
.publisher div p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.publisher div span{
    color: #5a5a5a;
    font-style: 13px;
}
.publisher button{
    background: red;
    color: #fff;
    padding: 8px 30px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
    border: 0;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}
.comment{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}
.comment img{
    border-radius: 50%;
    width: 35px;
    margin-right: 15px;
}
.comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.comment span{
    font-size: 12px;
    color: #5a5a5a;
    margin-left: 8px;
    font-weight: 500;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}
.comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
